<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>yad</string>

    <key>ProgramArguments</key>
    <array>
        <string>/path/to/your_xxsh</string>
        <string>-l</string>
        <string>-c</string>
        <string>.venv/bin/python main.py</string>
    </array>

    <key>WorkingDirectory</key>
    <string>/path/to/yad</string>

    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <true/>

    <key>StandardErrorPath</key>
    <string>yad.error.log</string>

    <key>StandardOutPath</key>
    <string>yad.log</string>
</dict>
</plist>
